In [1]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split

from sklearn.impute import KNNImputer, SimpleImputer
from sklearn.linear_model import LogisticRegression

from sklearn.metrics import accuracy_score

In [11]:
#df = pd.read_csv('Titanic-Dataset.csv', usecols=['Age','Pclass','Fare','Survived'])
#or,
df = pd.read_csv('Titanic-Dataset.csv')[['Age','Pclass','Fare','Survived']]

In [12]:
df.head()

    Age  Pclass     Fare  Survived
0  22.0       3   7.2500         0
1  38.0       1  71.2833         1
2  26.0       3   7.9250         1
3  35.0       1  53.1000         1
4  35.0       3   8.0500         0

In [14]:
df.isnull().mean()*100   # for finding % of missing values

Age         19.86532
Pclass       0.00000
Fare         0.00000
Survived     0.00000
dtype: float64

In [15]:
X = df.drop(columns=['Survived'])
y = df['Survived']

In [16]:
# call train test split method

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=2)

In [17]:
X_train.head()

      Age  Pclass     Fare
30   40.0       1  27.7208
10    4.0       3  16.7000
873  47.0       3   9.0000
182   9.0       3  31.3875
876  20.0       3   9.8458

In [23]:
# now, apply KNN imputer here

knn = KNNImputer(n_neighbors=3, weights='distance')

X_train_trf = knn.fit_transform(X_train)
X_test_trf = knn.transform(X_test)

In [26]:
# check for accuracy after that

lr = LogisticRegression()

lr.fit(X_train_trf,y_train)
y_pred = lr.predict(X_test_trf)

accuracy_score(y_test,y_pred)

0.7150837988826816

<h4> what if do here MEAN_IMPUTATION(using simple_imputer class)</h4>

In [42]:
# Comparision it with SimpleImputer --> Mean

si = SimpleImputer()

X_train_trf2 = si.fit_transform(X_train)  
X_test_trf2 = si.transform(X_test)

In [43]:
# now, finding it's accuracy_score 

lr = LogisticRegression()

lr.fit(X_train_trf2,y_train)
y_pred2 = lr.predict(X_test_trf2)         

accuracy_score(y_test,y_pred2)

0.6927374301675978

In [1]:
# That's why, KNN_Imputation is much better technique to impute values comparision to others(mean_median_imputation, etc..)